# Boolean

It checks whether the given value is true or false

In [1]:
my_str='Pratibha123'

In [2]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all the char in the string are alphanumeric
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains space
print(my_str.endswith('w')) #test if string endswith a
print(my_str.startswith('P')) #test if string startswith p

True
False
False
True
False
False
False
False
True

# Boolean and logical operators

In [3]:
True and True

True

In [4]:
True and False

False

In [5]:
True or True

True

In [6]:
False or True

True

# Lists

mutable and oradered sequence elements

In [7]:
type([])

list

In [8]:
list1=[]

In [9]:
type(list1)

list

In [10]:
list2=['math','sci',100,200]
list2

['math', 'sci', 100, 200]

In [11]:
len(list2)

4

# Append

In [12]:
list1.append('pratibha')
list1

['pratibha']

In [13]:
#indexing
list2[3]

200

In [14]:
#By range
print(list1[1:])
print(list2[2:3])

[]
[100]

# Insert

In [15]:
list2.insert(2,4) #(position,value)

In [16]:
list2

['math', 'sci', 4, 100, 200]

# Extend

In [17]:
list1.extend([5,6,7])

In [18]:
list1

['pratibha', 5, 6, 7]

# Various operations can perform on list

In [19]:
list3=[3,4,5,6,7]
sum(list3)

25

In [20]:
list3.pop() #pop the last position element

7

In [21]:
list3.pop(2) #Pop the position 2nd element

5

In [22]:
list3

[3, 4, 6]

# Count:Calculates total occurance of given element in the list

In [26]:
list4=[2,3,4,5,6,2,4,5]

In [27]:
list4.count(2)

2

In [28]:
#length calculates total lenth of list
len(list4)

8

In [29]:
#index() Returns the index of first appearance
list4.index(3)

1

In [30]:
#min() and max()
print(min(list4))
print(max(list4))

2
6

In [31]:
#list_name*n = Lists will the appear n times
list4*2

[2, 3, 4, 5, 6, 2, 4, 5, 2, 3, 4, 5, 6, 2, 4, 5]

# Sets

unordered collection data, iterable, mutable and no duplicate elements

In [32]:
set1={1,2,3,4,3}
print(set1)
type(set1)

{1, 2, 3, 4}

set

In [33]:
#add() to add element in sets
set1.add(5)

In [34]:
set1

{1, 2, 3, 4, 5}

In [35]:
#Difference
set2={'pratibha','divya', 'Pratika'}
set3={'pratibha','divya'}

In [36]:
set3.difference(set2)

set()

In [37]:
set2.difference(set3)

{'Pratika'}

In [39]:
#set_difference update() #update value in respective set
set2.difference_update(set1)
set2

{'Pratika', 'divya', 'pratibha'}

In [40]:
set3

{'divya', 'pratibha'}

In [41]:
#intersection
set2.intersection(set3)

{'divya', 'pratibha'}

# Dictionary

# unordered collection, changeable and indexed having key and values

In [1]:
dict1={}

In [2]:
type(dict1)

dict

In [5]:
dict2={'car1':'audi','car2':'honda','car3':'swift'}

In [6]:
dict2

{'car1': 'audi', 'car2': 'honda', 'car3': 'swift'}

In [10]:
#Access items based on key vaalues
dict2['car1']

'audi'

In [13]:
#Access keys by using loop
for x in dict2:
    print(x)

car1
car2
car3

In [15]:
#Access values by usiing loop
for x in dict2.values():
    print(x)

audi
honda
swift

In [16]:
# Access both keys and values
for x in dict2.items():
    print(x)

('car1', 'audi')
('car2', 'honda')
('car3', 'swift')

In [19]:
# Adding new item in dictionary
dict2['car4']='Audi 2.0'
dict2

{'car1': 'audi', 'car2': 'honda', 'car3': 'swift', 'car4': 'Audi 2.0'}

In [22]:
# Replace value
dict2['car1']='maruti'
dict2

{'car1': 'maruti', 'car2': 'honda', 'car3': 'swift', 'car4': 'Audi 2.0'}

# Nested dictionary

In [23]:
car1_model={'mercedes':'1960'}
car2_model={'maruti':"1970"}
car3_model={'honda':"1980"}

car_model={"car1":car1_model,'car2':car2_model,"car3":car3_model}
car_model

{'car1': {'mercedes': '1960'},
 'car2': {'maruti': '1970'},
 'car3': {'honda': '1980'}}

In [24]:
type(car_model)

dict

In [28]:
# Accessing the items in nested dictionary
car_model['car1']['mercedes']

'1960'

# Tuple

Cannot perform any operation on tuple only index and count is there

In [29]:
#Create an empty tuple
tuple1=('pratibha','divya','pratika')

In [30]:
type(tuple1)

tuple

In [31]:
tuple1

('pratibha', 'divya', 'pratika')

In [32]:
# Inbuilt function
tuple1.count('pratibha')

1

In [33]:
tuple1.index('pratika')

2